# General
*.log
*.class
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
local.properties

# Java
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*
.mtj.tmp/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
.idea_modules/
*.ipr
*.iws
.idea/caches/
.idea/libraries/
.idea/shelf/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/navEditor.xml

# Android SDK Files
*.apk
*.aar
*.ap_
*.aab
*.dex

# Gradle
.gradle/
build/
bin/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
/*/build/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.settings/
.tmp/
.metadata
.classpath
.project

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Visual Studio Code
.vscode/
.code-workspace

# OS Specific
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Keystore files
*.jks
*.keystore

# Proguard
proguard/

# Google Services
google-services.json

# Freeline
freeline.py
freeline/
freeline_project_description.json

# Fastlane
fastlane
